.boite-transparente { 
    font-family: 'Courier New', Courier, monospace;
    background: rgb(255, 255, 255, 0.1); 
    padding: 20px;
    border-radius: 5px;
    color: white;
    width: 700px;
    margin: 150px auto 0 auto;       
    text-align: center;
    animation: boite-transparente 2s ease-out 0.5s both;
    
}

 @keyframes boite-transparente {
            from {
                opacity: 0;
                transform: translateY(-50px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

.Competences {
    position: fixed;
    top: 50%;
    left: 43%;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    padding: 12px 25px;
    background: rgb(255, 255, 255, 0.1); 
    color: rgb(255, 255, 255);
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ease;  
    animation: bouton 2s ease-out 0.5s both;
}

.Competences:hover {
    background: rgba(255, 255, 255, 0.633); 
      
}


.surmoi {
    position: fixed;
    top: 50%;
    left: 25%;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    padding: 12px 25px;
    background: rgb(255, 255, 255, 0.1); 
    color: rgb(255, 255, 255);
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ease;  
    animation: bouton 2s ease-out 0.5s both;
}

.surmoi:hover {
    background: rgba(255, 255, 255, 0.633); 
    
}

.Contacter {
    position: fixed;
    top: 50%;
    left: 63%;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    padding: 12px 25px;
    background: rgb(255, 255, 255, 0.1); 
    color: rgb(255, 255, 255);
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ease;  
    animation: bouton 2s ease-out 0.5s both;
}

.Contacter:hover {
    background: rgba(255, 255, 255, 0.633); 
    
}

@keyframes bouton{
            from {
                opacity: 0;
                transform: translateY(50px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }


body {
            font-family: 'Space Mono', monospace;
            --color: #1e1e1e;
            background-color: #0c0c0c;
            background-image: linear-gradient(
                    0deg,
                    transparent 24%,
                    var(--color) 25%,
                    var(--color) 26%,
                    transparent 27%,
                    transparent 74%,
                    var(--color) 75%,
                    var(--color) 76%,
                    transparent 77%,
                    transparent
                ),
                linear-gradient(
                    90deg,
                    transparent 24%,
                    var(--color) 25%,
                    var(--color) 26%,
                    transparent 27%,
                    transparent 74%,
                    var(--color) 75%,
                    var(--color) 76%,
                    transparent 77%,
                    transparent
                );
            background-size: 55px 55px;
            color: #ffffff;
            overflow-x: hidden;
            line-height: 1.6;
        }



